In [1]:
import pickle
import pandas as pd
with open('/content/salarydectmodel','rb') as f:
  reg=pickle.load(f)

In [2]:
df=pd.read_csv('/content/salary_client.csv')
df

   experience  test_score  interview_score
0           5           8                7
1           6           5                5
2           2           7                9
3           3           6                6
4           8           9                8
5           2           7                7
6           4           5                6
7           7           9                7

In [3]:
reg.predict(df)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- interview_score
- test_score
Feature names seen at fit time, yet now missing:
- interview_score(out of 10)
- test_score(out of 10)

  warnings.warn(message, FutureWarning)

array([62004.36681223, 54869.72343523, 56130.27656477, 50481.80494905,
       74494.1775837 , 51719.79621543, 51449.05385735, 69475.98253275])

In [4]:
predictcli=reg.predict(df)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- interview_score
- test_score
Feature names seen at fit time, yet now missing:
- interview_score(out of 10)
- test_score(out of 10)

  warnings.warn(message, FutureWarning)

In [5]:
df['salary$']=predictcli
df

   experience  test_score  interview_score       salary$
0           5           8                7  62004.366812
1           6           5                5  54869.723435
2           2           7                9  56130.276565
3           3           6                6  50481.804949
4           8           9                8  74494.177584
5           2           7                7  51719.796215
6           4           5                6  51449.053857
7           7           9                7  69475.982533

In [7]:
df.to_csv('salaryclientoutput.csv',index= False)